.dashboard-header {
    background: #FF2F81;
    color: #fff;
    padding: 14px 0;
    text-align: center;
}
.dashboard-header h2 {
    font-size: 45px;
    display: inline;
    margin-right: 15px;
}
.dashboard-menu {
    background: #d63384;
    height: 100vh;
    position: fixed;
    width: 22%;
    text-align: center;
    color: #fff;
}
.dashboard-menu button {
    background: none;
    border: 0;
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 38px;
    margin-top: 13px;
}