.newProductButton {
    text-align: center;
    margin-bottom: 27px;
}

.newProductButton a button {
    border: none;
    background: #FF2F81;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 3px;
    transition: .5s;
}
.newProductButton a button:hover {
    box-shadow: 8px 8px 20px pink inset;
}