.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff2f81;
}
.text-highlight {
    /* color: #0DCAF0; */
    color:#FF2F81;
}