.box-button1 {
    background: #FF2F81;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    border-radius: 3px;
    border:2px solid transparent;
    transition:.4s;
}
.section-title h2 {
    font-size: 50px;
}
.card-footer {
    padding: .5rem 1rem;
    background-color: #fff;
    border:none;
}
.card {
    transition: .5s;
}
.card:hover {
    box-shadow: 6px 6px 16px;
}